<%# The header of every page %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/ResizePNG.png" alt="" width="50" height="45"> Polar Eclipse Survey
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-igloo fa-lg"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/surveyavailable"><i class="fas fa-gas-pump fa-lg"></i> Survey Available</a>
        </li>
        <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-id-card fa-lg"></i> Login</a>
        </li>
        <% } else { %>
         <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fas fa-id-card fa-lg"></i> Logout</a>
        </li>
        <% } %>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/account"><i class="fas fa-phone fa-lg"></i> Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/makesurvey"><i class="fas fa-phone fa-lg"></i> Make Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edituser/<%= user._id %>"> Edit User</a>
        </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
