<%# The main page of the site %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<h1 class="text-center polarText">Welcome To Polar Eclipse Survey</h1>

<div class="row justify-content-center">
  <img src="/images/ResizePNG.png" alt="" class="col-6">
</div>

<div class="row justify-content-center">
<a href="/makesurvey" class="btn btn-primary col-3 my-3">Make A Survey</a>
<div class="col-2"></div>
  <a href="/surveyavailable" class="btn btn-primary col-3 my-3">Take A Survey</a>
</div>
