<%# The page for logging in the user %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<div class="row justify-content-center">

  <h1 class="text-center polarText display-1">Sign In</h1>
  <!-- message area -->
  <% if(messages.length > 0) { %>
    <div id="messageArea" class="alert alert-danger">
      <%= messages %>
    </div>
    <% } %>
  <form action="" method="POST" class="my-4 border border-dark col-5 logoGray border-3">
    <div class="row justify-content-center my-4">
      <label for="username" class="col-2 text-end">User Name</label>
      <input type="text" class="col-5" id="username" placeholder="User Name" required name="username">
    </div>
    <div class="row justify-content-center my-4">
      <label for="email" class="col-2 text-end">Password</label>
      <input type="password" class="col-5" id="password" placeholder="Password" required name="password">
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary col-3 my-3">Sign In</button>
      <br>
      <p class="text-center"><a href="/register">Click Here</a> to make an account</p>
    </div>
  </form>

</div>
