<%# The page to create/edit a survey question %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<div class="row justify-content-center">
  <h1 class="text-center polarText display-1">Make A Survey</h1>
  <form method="POST" class="my-4 border border-dark col-9 logoGray border-3">
    <div class="row justify-content-center my-4">
      <label for="title" class="col-3 text-end">title</label>
      <input type="text" class="col-7" id="title" placeholder="Survey Title" name="title" required>
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center my-4">
      <label for="activeFor" class="col-3 text-end">Active From</label>
      <input type="date" class="col-7" id="activeFrom" placeholder="Start Date" name="activeFrom" required>
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center my-4">
      <label for="activeFor" class="col-3 text-end">Active Til</label>
      <input type="date" class="col-7" id="expiresAt" placeholder="End Date" name="expiresAt">
      <div class="col-1"></div>
    </div>
    <% for(let count = 1; count < 6; count++) {%>
    <div class="row justify-content-center my-4">
      <label for="question" class="col-3 text-end"><%= count %>) Your Question</label>
      <input type="text" class="col-8" id="question" placeholder="Your Question" name="question<%= count %>" required>
      <div class="col-1"></div>
    </div>
    <hr>
    <% } %>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary col-3 my-3">Make It</button>
      <a href="/account" class="btn btn-warning col-3 my-3">Cancel</a>
    </div>
  </form>
  <h3 class="polarText">Feel free to delete or add more as you need. (this is a message to the developers)</h3>

</div>
